.text {
    color: var(--title-color);
    margin: 20px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
}

.errorMessage {
    margin-top: 7px;
    font-size: 12px;
    color: red;
}

.inputerror {
    width: 340px;
    background: var(--primary-color);
    border: 1px solid red;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}