body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: Inter, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

:root {
  --primary-color: #FFF;
  --secondary-color: #D1D1D1;
  --title-color: #4F4F4F;
  --red-color: #EB5757;
  --green-color: #29BB89;
}